@import url(./css/colors.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root{
    --doc-primary-color:#ADD8E6;
    --doc-secondary-color:#00008b;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}
.documentation-nav-container{
    display:flex;
    margin: 0rem;
    align-items:center;
    background-color:var(--doc-primary-color);
    color:var(--doc-secondary-color);
    width: 100%;
    min-height:4rem;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.nav-title{
    margin:0 2rem;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}

.nav-action-btns{
    display:flex;
}

.nav-action-btn{
    outline: none;
    border: none;
    background-color: transparent;
    color:var(--doc-secondary-color);
    margin: 0 0.5rem;
    font-size: 1.25rem;
    font-weight: bold;
    cursor: pointer;
}

.nav-action-btn:hover{
    border-bottom:0.2rem solid var(--doc-secondary-color);
}

.nav-social-container{
    list-style-type: none;
    display:flex;
    margin-left: auto;
    align-items:center;
    justify-content: center;
}

.nav-social-link{
    margin: 0 1rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.nav-theme-change{
    margin: 0 1rem;
    font-size:1.5rem;
    cursor: pointer;
}


.home-main-content{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items:center;
    gap:3rem;
    width:35rem;
    margin: auto;
    text-align: center;
}

.home-heading{
    margin-top: 3rem;
    font-size: 2.5rem;
}

.home-main-description{
    font-size: 1.5rem;
}


.home-main-title{
    font-size:5rem;
    color:var(--doc-secondary-color)
}

.home-main-btns{
    display: flex;
    gap:2rem;
}

.home-main-btn-started{
    width:8rem;
    height:3rem;
    outline:none;
    border: none;
    background-color:var(--doc-primary-color);
    color: var(--doc-secondary-color);
    border-radius:0.5rem;
    font-size: 1.25rem;
    font-weight: bold;
    cursor: pointer;   
}

.home-main-btn-started:hover{
    text-decoration:underline;
}

.home-main-btn-github{
    width:8rem;
    height:3rem;
    outline:none;
    border: 0.1rem solid var(--doc-secondary-color);
    background-color: var(--main-bg-color);
    color: var(--doc-secondary-color);
    border-radius:0.5rem;
    font-size: 1.25rem;
    font-weight:bold;
    cursor: pointer;
}

.home-main-btn-github:hover{
    border: none;
    background-color: var(--doc-secondary-color);
    color: var(--main-bg-color);
    text-decoration: underline;
}

.documentation-footer{
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    align-items:center;
    min-height: 8rem;
    width: 100%;
    background-color:var(--doc-primary-color);
    color: var(--doc-secondary-color);
    position:absolute;
    bottom: 0;
}

.footer-social-container{
    list-style-type: none;
    display:flex;
    align-items:center;
    justify-content: center;   
}

.footer-text{
    margin-top: 0.5rem;
    font-size:1.25rem;
    font-weight: 550;
}

.footer-credentials{
    font-size:1rem;
    margin-bottom: 0.5rem;
}

.a-link{
    text-decoration:none;
    color:inherit;
}