@import url(./css/colors.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root{
    --doc-primary-color:#ADD8E6;
    --doc-secondary-color:#00008b;
}

.dark-theme{
    background-color:black;
    --doc-primary-color:white;
    --doc-secondary-color:gray;
    --main-bg-color:black;
    --text-black:white;
    color: var(--doc-primary-color);
    
}

html{
    font-size:16px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.homepage-wrapper{
    display: grid;
    height: 100vh;
    grid-template-rows: repeat(4,1fr);
}

.home-header{
    grid-row: 1/2;
}

.documentation-nav-container{
    display:flex;
    justify-content:space-between;
    min-height:4rem;
    padding : 0 2rem;
    align-items:center;
    background-color:var(--doc-primary-color);
    color:var(--doc-secondary-color);
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.nav-title{
    margin:0 2rem;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}

.nav-action-btns{
    display:flex;
}

.nav-action-btn{
    outline: none;
    border: none;
    background-color: transparent;
    color:var(--doc-secondary-color);
    margin: 0 0.5rem;
    font-size: 1.25rem;
    font-weight: bold;
    cursor: pointer;
}

.nav-action-btn:hover{
    border-bottom:0.2rem solid var(--doc-secondary-color);
}


.nav-social-container{
    list-style-type: none;
    align-items:center;
    justify-content: center;
}

.hide-mode{
    display:none;
}

.home-main-content{
    grid-row: 2/5;
    display: grid;
    grid-template-rows: repeat(5,1fr);
    margin: auto;
    text-align: center;
    padding: 2rem;
}

.home-heading{
    margin-top: 1rem;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-main-description{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


.home-main-title{
    font-size:5rem;
    color:var(--doc-secondary-color);
    grid-row: 2/4;
    display:flex;
    align-items: center;
    justify-content: center;
}

.home-main-btns{
    display: flex;
    justify-content:center;
    gap:2rem;
    align-items: center;
}

.home-main-btn-started{
    width:8rem;
    height:3rem;
    outline:none;
    border: none;
    background-color:var(--doc-primary-color);
    color: var(--doc-secondary-color);
    border-radius:0.5rem;
    font-size: 1.25rem;
    font-weight: bold;
    cursor: pointer;   
}

.home-main-btn-started:hover{
    text-decoration:underline;
}

.home-main-btn-github{
    width:8rem;
    height:3rem;
    outline:none;
    border: 0.1rem solid var(--doc-secondary-color);
    background-color: var(--main-bg-color);
    color: var(--doc-secondary-color);
    border-radius:0.5rem;
    font-size: 1.25rem;
    font-weight:bold;
    cursor: pointer;
}

.home-main-btn-github:hover{
    border: none;
    background-color: var(--doc-secondary-color);
    color: var(--main-bg-color);
    text-decoration: underline;
}

.documentation-footer{
    grid-row:5/6;
    min-height: 8rem;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    align-items:center;
    width: 100%;
    background-color:var(--doc-primary-color);
    color: var(--doc-secondary-color);
}

.footer-social-container{
    list-style-type: none;
    display:flex;
    align-items:center;
    justify-content: center;   
}

.footer-text{
    margin-top: 0.5rem;
    font-size:1.25rem;
    font-weight: 550;
}

.footer-credentials{
    font-size:1rem;
    margin-bottom: 0.5rem;
}

.a-link{
    text-decoration:none;
    color:inherit;
}

.nav-social-link{
    margin: 0 1rem;
    font-size: 1.5rem;
    cursor: pointer;
}


@media only screen and (max-width: 600px){
    html{
        font-size:10px;
    }
}

@media only screen and (min-width: 600px){
    html{
        font-size:12px;
    }
}

@media only screen and (min-width: 1000px){
    html{
        font-size:16px;
    }
}

