:root{
    --doc-primary-color:#7d0604;
    --doc-secondary-color:#ede1d1;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.documentation-nav-container{
    display:flex;
    margin: 0rem;
    align-items:center;
    background-color:var(--doc-primary-color);
    color:var(--doc-secondary-color);
    width: 100%;
    min-height:4rem;
}

.nav-title{
    margin:0 2rem;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}

.nav-action-btns{
    display:flex;
}

.nav-action-btn{
    outline: none;
    border: none;
    background-color: transparent;
    color:var(--doc-secondary-color);
    margin: 0 0.5rem;
    font-size: 1.25rem;
    font-weight: bold;
    cursor: pointer;
}

.nav-action-btn:hover{
    border-bottom:0.2rem solid var(--doc-secondary-color);
}

.nav-social-container{
    list-style-type: none;
    display:flex;
    margin-left: auto;
    align-items:center;
    justify-content: center;
}

.nav-social-link{
    margin: 0 1rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.nav-theme-change{
    margin: 0 1rem;
    font-size:1.5rem;
    cursor: pointer;
}


.home-main-content{
    margin: 2rem 8rem;
    display:grid;
    grid-template-columns: 1fr 1fr;
}

.main-intro{
    margin: 1rem 5rem;
    height:25rem;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: flex-start;
}

.main-intro-title{
    font-size:4rem;
    color:var(--doc-primary-color);
}

.main-intro-desc{
    font-size:2rem;
}

.main-documentation-button{
    width:10rem;
    height:2rem;
    outline:none;
    border: none;
    background-color:var(--doc-secondary-color);
    color:var(--doc-primary-color);
    border-radius:0.2rem;
    font-weight:550;
    font-size: 1.2rem;
}

.main-documentation-button:hover{
    background-color:var(--doc-primary-color);
    color:var(--doc-secondary-color);
}

.main-logo{
    margin: 1rem 5rem;
    height: 25rem;
}

.main-logo-img{
    height:100%;
    width: 100%;
}

.main-installation{
    margin: 3rem 5rem;
    height:15rem;
}

.main-installation-heading{
    font-size:3rem;
    color:var(--doc-primary-color);
}

.main-installation-desc{
    font-size:1.25rem;
}


.main-installation-code{
    margin: 5rem 5rem;
    height:15rem;
}

.documentation-footer{
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    align-items:center;
    min-height: 8rem;
    width: 100%;
    background-color:var(--doc-primary-color);
    color: var(--doc-secondary-color);
}

.footer-social-container{
    list-style-type: none;
    display:flex;
    align-items:center;
    justify-content: center;   
}

.footer-text{
    margin-top: 0.5rem;
    font-size:1.25rem;
    font-weight: 550;
}

.footer-credentials{
    font-size:1rem;
    margin-bottom: 0.5rem;
}

.a-link{
    text-decoration:none;
    color:inherit;
}