<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="../../css/main.css">
    <title>Document</title>
</head>
<body>
    <nav class="navbar-container">
        <div class="navbar-title">Title</div>
        <ul class="navbar-links">
            <div class="navbar-link">Home</div>
            <div class="navbar-link">About</div>
            <div class="navbar-link">Contact us</div>
        </ul>
    </nav>

    <div class="nav-hamburger-container">
    <nav class="navbar-container">
        <div class="navbar-title">Title</div>
        <div class="nav-hamburger" id="nav-hamburger"><i class="fas fa-bars"></i></div>
    </nav>
    <div class="navbar-links-hamburger">
        <div class="navbar-link link-hamburger">Home</div>
        <div class="navbar-link link-hamburger">About</div>
        <div class="navbar-link link-hamburger">Contact us</div>
    </div>
    </div>

    <nav class="ecom-nav-container">
        <p class="ecom-nav-title">Jersea Store</p>
        <input class="ecom-nav-searchbar" type="text" placeholder="Search"/>
        <div class="ecom-nav-action-btns">
            <button class="ecom-nav-action-btn nav-btn-login">Login</button>
            <button class="ecom-nav-action-btn">Cart</button>
            <button class="ecom-nav-action-btn">Wishlist</button>
        </div>
    </nav>

    <script src="../../documentation/script.js"></script>
</body>
</html>