@import url(../css/main.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
:root{
    --doc-primary-color:#ADD8E6;
    --doc-secondary-color:#00008b;
}

.dark-theme{
    background-color:black;
    --doc-primary-color:white;
    --doc-secondary-color:gray;
    --main-bg-color:black;
    --text-black:white;
    color: var(--doc-primary-color);
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header{
    position: sticky;
    top: 0;
    z-index: 999;
}

.documentation-nav-container{
    display:flex;
    margin: 0rem;
    width:100%;
    align-items:center;
    background-color:var(--doc-primary-color);
    color:var(--doc-secondary-color);
    min-height:4rem;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.nav-title{
    margin:0 2rem;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}

.nav-action-btns{
    display:flex;
}

.nav-action-btn{
    outline: none;
    border: none;
    background-color: transparent;
    color:var(--doc-secondary-color);
    margin: 0 0.5rem;
    font-size: 1.25rem;
    font-weight: bold;
    cursor: pointer;
}

.nav-action-btn:hover{
    border-bottom:0.2rem solid var(--doc-secondary-color) ;
}

.nav-social-container{
    list-style-type: none;
    display:flex;
    margin-left: auto;
    align-items:center;
    justify-content: center;
}

.nav-social-link{
    margin: 0 1rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.nav-theme-change{
    margin: 0 1rem;
    font-size:1.5rem;
    cursor: pointer;
}

.documentation-main-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    width:100%;
    top: 4rem;
}

.sidebar-wrapper{
    padding: 1rem 2rem;
    position:sticky;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    grid-column: 1/2;
    grid-row: 1/2;
}

.sidebar-header{
    padding: 1rem 0rem;
    font-size: 1.5rem;
    font-weight:bold;
    color:var(--doc-secondary-color)
}

.sidebar-components{
    list-style-type: none;
    font-size: 1.5rem;
}

.sidebar-component{
    margin:  1rem 0rem;
    padding: 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
}

.sidebar-component-active{
    color:var(--doc-secondary-color);
    font-size: 1.6rem;
    font-weight: bold;
}

.sidebar-component:hover{
    background-color: var(--doc-primary-color);
    color:var(--doc-secondary-color);
    font-size: 1.6rem;
    font-weight: bold;
}

.main-content{
    grid-column: 2/6;
    grid-row: 1/2;
    padding:2rem;
}

.component{
    /* width:80%; */
    padding: 2rem;
}

.component-heading{
    margin-bottom: 1rem;
}

.component-heading-title{
    font-size: 2.5rem;
    font-weight:600;
    color:var(--doc-secondary-color)
}

.component-heading-desc{
    margin-top: 0.5rem;
    font-size: 1.5rem;
}

.component-example-demo{
    margin-top: 0.5rem;
    padding: 1rem;
    border: 0.25rem solid var(--doc-primary-color);
    border-radius:0.2rem;
}

.component-example-heading{
    margin-top:4rem;
    font-size: 2rem;
    color:var(--doc-secondary-color)
}

.component-example-description{
    font-size:1.2rem;
}

.card-example{
    background-color: var(--doc-secondary-color)
}

.list-example{
    padding: 4rem 0rem;
    display:flex;
    justify-content:space-around;
    align-items:center;
}

.toast-example{
    position: relative;
    height: 16rem;
}

.color-container{
    display:grid;
    grid-template-columns: repeat(7,1fr);
}

.color{
    width:8rem;
    height: 8rem;
    color:var(--main-bg-color);
    font-size:1rem;
    display:flex;
    justify-content:center;
    align-items:center;
    font-weight:bold;
}

.color-alert{
    background-color:var(--alert-red);
}
.color-success{
    background-color:var(--online-green);
}
.color-secondary{
    background-color:var(--secondary);
}
.color-warning{
    background-color:var(--warning);
}
.color-gray{
    background-color:var(--text-gray);
}
.color-black{
    background-color:var(--text-black);
}

.break-line{
    margin:1rem 0rem;
    height:0.25rem;
    background-color: var(--doc-secondary-color)
}

.documentation-footer{
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    align-items:center;
    min-height: 8rem;
    width: 100%;
    background-color:var(--doc-primary-color);
    color: var(--doc-secondary-color)
}

.footer-social-container{
    list-style-type: none;
    display:flex;
    align-items:center;
    justify-content: center;   
}

.footer-text{
    margin-top: 0.5rem;
    font-size:1.25rem;
}

.footer-credentials{
    font-size:1rem;
    margin-bottom: 0.5rem;
}

.a-link{
    text-decoration:none;
    color:inherit;
}

.navbar-hamburger{
    display:none;
}

.hide-mode{
    display:none;
}



@media only screen and (max-width: 650px){
    html{
        font-size:10px;
    }
    .sidebar-wrapper{
        display:none;
        padding: 0rem 1rem;
    }

    .sidebar-component{
        margin: 0.5rem 1rem;
        padding:0.5rem;
    }
    .main-content{
        grid-column: 1/-1;
    }
    .show {
        display: block;
        width: 50%;
        z-index: 5;
        position: fixed;
        left: 0;
        padding: 2rem;
        background-color: var(--main-bg-color);
        overflow-y: scroll;
    }
    .navbar-hamburger{
        display:block;
    }

    .hide{
        display: none;
    }

    .color{
        height:4rem;
        width:4rem;
    }
}

@media only screen and (max-width: 400){
    html{
        font-size:8px;
    }
    .sidebar-wrapper{
        display:none;
        padding: 0rem 1rem;
    }

    .sidebar-component{
        margin: 0rem 1rem;
        padding:0rem;
    }

    .main-content{
        grid-column: 1/-1;
    }
    .show {
        display: block;
        width: 50%;
        z-index: 5;
        position: fixed;
        left: 0;
        padding: 2rem;
        background-color: var(--main-bg-color);
        overflow-y: scroll;
    }
    .navbar-hamburger{
        display:block;
    }
    .hide{
        display: none;
    }
    
    .color{
        height:3rem;
        width:3rem;
    }
}

@media only screen and (min-width: 650px){
    html{
        font-size:12px;
    }
    .color{
        height:6rem;
        width:6rem;
    }

    .modal-container{
        width:30rem;
    }
}

@media only screen and (min-width: 1000px){
    html{
        font-size:16px;
    }
    .color{
        height:7rem;
        width:7rem;
    }

    .modal-container{
        width:30rem;
    }
}
